<template>
  <div>
    <div class="page-header clear-filter" filter-color="orange">
      <parallax
        class="page-header-image"
        style="background-image:url('img/bg5.jpg')"
      >
      </parallax>
      <div class="container">
        <div class="photo-container">
          <img src="img/ryan.jpg" alt="" />
        </div>
        <h3 class="title">{{ profile_data.result ? (`${profile_data.result.first_name} ${profile_data.result.last_name}`) : '-' }} </h3>
        <p class="category">{{ profile_data.result ? profile_data.result.job : '-' }}</p>
        <div class="content">
          <div class="social-description">
            <h2>{{ profile_data.result ? profile_data.result.comments : 0 }}</h2>
            <p>Comments</p>
          </div>
          <div class="social-description">
            <h2>{{ profile_data.result ? profile_data.result.comments : 0 }}</h2>
            <p>Comments</p>
          </div>
          <div class="social-description">
            <h2>{{ profile_data.result ? profile_data.result.bookmarks : 0 }}</h2>
            <p>Bookmarks</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="button-container">
          <a @click="logoutAuthentication" class="btn btn-primary btn-round btn-lg">Logout</a>
          
        </div>
        <h3 class="title">About me</h3>
        <h5 class="description">
          {{ profile_data.result ? profile_data.result.about : '' }}
        </h5>
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <h4 class="title text-center">My Portfolio</h4>
          </div>
          <tabs
            pills
            class="nav-align-center"
            tab-content-classes="gallery"
            tab-nav-classes="nav-pills-just-icons"
            type="primary">
            <tab-pane title="Profile">
              <i slot="label" class="now-ui-icons design_image"></i>

              <div class="col-md-10 ml-auto mr-auto">
                <div class="row collections">
                  <div class="col-md-6">
                    <img src="img/bg6.jpg" class="img-raised" />
                    <img src="img/bg11.jpg" alt="" class="img-raised" />
                  </div>
                  <div class="col-md-6">
                    <img src="img/bg7.jpg" alt="" class="img-raised" />
                    <img src="img/bg8.jpg" alt="" class="img-raised" />
                  </div>
                </div>
              </div>
            </tab-pane>

            <tab-pane title="Home">
              <i slot="label" class="now-ui-icons location_world"></i>

              <div class="col-md-10 ml-auto mr-auto">
                <div class="row collections">
                  <div class="col-md-6">
                    <img src="img/bg1.jpg" alt="" class="img-raised" />
                    <img src="img/bg3.jpg" alt="" class="img-raised" />
                  </div>
                  <div class="col-md-6">
                    <img src="img/bg8.jpg" alt="" class="img-raised" />
                    <img src="img/bg7.jpg" alt="" class="img-raised" />
                  </div>
                </div>
              </div>
            </tab-pane>

            <tab-pane title="Messages">
              <i slot="label" class="now-ui-icons sport_user-run"></i>

              <div class="col-md-10 ml-auto mr-auto">
                <div class="row collections">
                  <div class="col-md-6">
                    <img src="img/bg3.jpg" alt="" class="img-raised" />
                    <img src="img/bg8.jpg" alt="" class="img-raised" />
                  </div>
                  <div class="col-md-6">
                    <img src="img/bg7.jpg" alt="" class="img-raised" />
                    <img src="img/bg6.jpg" class="img-raised" />
                  </div>
                </div>
              </div>
            </tab-pane>
          </tabs>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { Tabs, TabPane } from '@/components';
import apiProfile from '@/services/apiProfile';
import apiAuthentication from '@/services/apiAuthentication';

export default {
  name: 'profile',
  bodyClass: 'profile-page',
  mixins: [
    apiProfile,
    apiAuthentication
  ],
  components: {
    Tabs,
    TabPane
  },
  data() {
    return  {
      profile_data: {
        result: null
      }
    }
  },
  created() {
    this.getProfile(null, this.profile_data)
  }
};
</script>
<style></style>
